@import "@assets/shared-scss/_variables.scss";

.create-virus-modal {
    z-index: $menu-page-blur-z-index + 2;
    transform: translate(-50%, -50%);
    justify-content: space-around;
    background: #3A362B;
    position: absolute;
    border: 7px solid;
    display: none;
    left: 50%;
    top: 50%;

    height: 50%;
    width: 50%;

    background-position: left bottom;
    background-repeat: no-repeat;
    background-size: contain;

    &--show {
        display: flex;
    }

    &__virus-wrapper {
        transform: translate(-50%, -50%);
        background: transparent;
        position: absolute;
        height: 80%;
        width: 80%;
        left: 50%;
        top: 50%;
    }

    &__virus,
    &__palette {
        position: relative;
        flex: 1 1;

        .virus-canvas {
            transform: translate(-50%, -50%);
            outline: 3px solid #2E2B24;
            background: white;
            position: absolute;
            left: 50%;
            top: 50%;
        }
    }
}
